[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/api/*"
  to = "https://panda-nextjs-be.vercel.app/api/:splat"
  status = 200
  force = true
