

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tabMenu {
  margin-bottom: 16px;
  display: flex;
  gap: 24px;
}

.active {
  background: #3692FF;
  color: #ffffff;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  font-size: 16px;
  font-weight: 500;
  color: #111827;
}

.originLink {
    font-size: 14px;
    color: #3692FF;
    text-decoration: none;
}

.originLink:hover {
    text-decoration: underline;
}

.originLink:active {
    color: #1251aa;
}

.date {
    font-size: 14px;
    color: #6B7280;
}

.date:hover {
    text-decoration: underline;
}

.date:active {
    color: #1251aa;
}

.date:visited {
    color: #6B7280;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}